body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

#video-container {
  width: 100%;
  min-height: 272px;
  background: #DDD;
  display: flex;
  align-items: center;
  justify-content: center;
}

video {
  width: 100%;
}

#video-container .videoSelectBtn {
  position: absolute;
  flex: 1;
}
